@media screen and (max-width: 640px) {
    body {
        width: auto;
    }

    .banner {
        display: none;
    }

    body > #wrapper > header > nav > ul > li {
        display: block;
        width: 100%;
    }
    
    body > #wrapper > header > nav > ul > li > a {
        display: block;
    }
}
